{% load i18n %}
<!-- Sidebar - Brand-->
<div class="border-end bg-white" id="sidebar-wrapper">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'website:website_index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink" style="font-size:36px;color:blue"></i>
        </div>
        <div class="sidebar-heading border-bottom bg-white">MyFinPages</div>
    </a>

    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-info p-2">Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:current_finances' %}">Current Finances</a>

        <a class="list-group-item list-group-item-action list-group-item-info p-2">Update finances</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-2 " href="{% url 'myfinpages:income_create' %}">Add Income</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:outcome_create' %}">Add Outcome</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:balance_create' %}">Add Balance</a>

        <a class="list-group-item list-group-item-action list-group-item-info p-2">View finances</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:income_list' %}">List Income</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:outcome_list' %}">List Outcome</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:balance_list' %}">List Balance</a>
    </div>
</div>
