{% load i18n %}
<!-- Sidebar - Brand-->
<div class="border-end bg-white" id="sidebar-wrapper">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'website:website_index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink" style="font-size:36px;color:blue"></i>
        </div>
        <div class="sidebar-heading border-bottom bg-white px-2 mt-auto">MyFinPages</div>
    </a>

    <div class="list-group list-group-flush w-100">
{#    <div class="nav-tabs">#}
        <a class="list-group-item list-group-item-action list-group-item-info p-2">Dashboard</a>
        {% url 'myfinpages:current_finances' as myfinpages_current_finances %}
        <a class="list-group-item list-group-item-action list-group-item-light p-2 {% if page_path == myfinpages_current_finances %}active{% endif %}"
           href="{% url 'myfinpages:current_finances' %}">Current Finances</a>

        <a class="list-group-item list-group-item-action list-group-item-info p-2">Update finances</a>
        {% url 'myfinpages:income_create' as myfinpages_income_create %}
        {% url 'myfinpages:outcome_create' as myfinpages_outcome_create %}
        {% url 'myfinpages:balance_create' as myfinpages_balance_create %}

        <a class="list-group-item list-group-item-action list-group-item-light p-2 {% if page_path == myfinpages_income_create %}active {% endif %}"
           href="{% url 'myfinpages:income_create' %}">Add Income</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-2 {% if page_path == myfinpages_outcome_create %}active{% endif %}"
           href="{% url 'myfinpages:outcome_create' %}">Add Outcome</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-2 {% if page_path == myfinpages_balance_create %}active{% endif %}"
           href="{% url 'myfinpages:balance_create' %}">Add Balance</a>

{#        <a class="list-group-item list-group-item-action list-group-item-light p-2 " href="{% url 'myfinpages:income_create' %}">Add Income</a>#}
{#        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:outcome_create' %}">Add Outcome</a>#}
{#        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:balance_create' %}">Add Balance</a>#}

        <a class="list-group-item list-group-item-action list-group-item-info p-2">View finances</a>
        {% url 'myfinpages:income_list' as myfinpages_income_list %}
        {% url 'myfinpages:outcome_list' as myfinpages_outcome_list %}
        {% url 'myfinpages:balance_list' as myfinpages_balance_list %}

        <a class="list-group-item list-group-item-action list-group-item-light p-2 {% if page_path == myfinpages_income_list %}active{% endif %}"
           href="{% url 'myfinpages:income_list' %}">List Income</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-2 {% if page_path == myfinpages_outcome_list %}active{% endif %}"
           href="{% url 'myfinpages:outcome_list' %}">List Outcome</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-2 {% if page_path == myfinpages_balance_list %}active{% endif %}"
           href="{% url 'myfinpages:balance_list' %}">List Balance</a>
    </div>
</div>
