{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
  <h1>
    {{ user.first_name | title }}
    <small class="h4 text-muted">{% trans "Change password" %}</small>
  </h1>

  {% include 'accounts/partials/navigation.html' with active_tab="change_password" %}

  <div class="row justify-content-center">
    <div class="col col-md-4">
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}

        {% bootstrap_form form layout="floating" %}

        <div>
          <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
          <a class="ml-1 btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
