{% extends 'base.html' %}

{% load account %}



{% block content %}
{#    {% user_display user %}#}
    <div class="row">
        <div class="col-lg-8 mx-auto">

            <h1>{% user_display user %}'s profile</h1>

        </div>
    </div>

    <p>
        <a href="{% url 'socialaccount_connections' %}">Social auth</a> |
        <a href="{% url 'account_change_password' %}">Change password</a> |
        <a href="{% url 'account_email' %}">Change email</a> |
        <a href="{% url 'google_callback' %}">Inactivate account</a> |


    </p>

{#    <p>#}
{#        <strong>Username: </strong> {{ current_user.username }}#}
{#    </p>#}

    {% if current_user.first_name or current_user.last_name %}
        <p>
            <strong>Name: </strong> {{ current_user.get_full_name }}
        </p>
    <p>
        <strong>Email: </strong> {{ current_user.email }}
    </p>
    {% endif %}
{% endblock content %}