{% extends 'base.html' %}
{% load static %}


{% block content %}
 <!-- Page Heading -->
{#    <div class="d-sm-flex align-items-center justify-content-between mb-4">#}
{#        <h1 class="h3 mb-0 text-gray-800" >Welcome!</h1>#}
{#    </div>#}

    {% load humanize %}


{#    <h1 class="col-lg-8 mx-auto">Welcome to MyFinPages ;)</h1>#}
{#    <img src="media/website/cup_medium.jpg" class="img-fluid" alt="Welcome to MyFinPages;)">#}
    <img src="media/website/cup_small.jpg" class="col-lg-8 rounded mx-auto d-block" alt="Welcome to MyFinPages;)">
{#    <img src="media/website/grass_small.jpg" class="rounded mx-auto d-block" alt="Welcome to MyFinPages;)">#}
{#    <img src="media/website/cup_small.jpg" class="rounded mx-auto" alt="Welcome to MyFinPages;)">#}



{% endblock %}

{% block hidden_content %}
{% endblock %}