{% load i18n %}
<ul class="my-4 nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'profile' %}active{% endif %}"
      href="{% url 'accounts:profile' %}">{% trans "Profile" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'edit' %}active{% endif %}"
      href="{% url 'accounts:edit' %}">{% trans "Edit profile" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'social_auth' %}active{% endif %}"
      href="{% url 'socialaccount_connections' %}">{% trans "Social auth" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'change_password' %}active{% endif %}"
      href="{% url 'account_change_password' %}">{% trans "Change password" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'change_email' %}active{% endif %}"
      href="{% url 'account_email' %}">{% trans "Change email" %}</a>
  </li>
</ul>
