{% load static  %}

<!DOCTYPE html>
{#<html lang="en" class="h-100">#}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=t">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>MyFinPages</title>


        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

         <!-- DataTable Styling-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
    </head>

{##}
{#    <body class="d-flex flex-column h-100">#}
{#        <div class="d-flex px-4" id="wrapper">#}
    <body class="d-flex flex-column">
        <div class="d-flex px-4" id="wrapper">
            <!-- Sidebar -->
            {% include 'website/partials/sidebar.html' %}

            <!-- Page content wrapper-->

            <div class="d-flex flex-column h-100" id="page-content-wrapper">
                <!-- Top navigation-->
                {% include 'website/partials/navbar.html' %}

                {% include 'common/messages.html' %}
            <!-- Page content-->
                {% block content %}{% endblock content%}
            <!-- Footer -->
                {% include 'website/partials/footer.html' %}
            </div>
        </div>


    <!-- Bootstrap core JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>



    {% block js %}
    {% endblock %}


    </body>

    </html>
