{% load static  %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MyFinPages</title>


        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

         <!-- DataTable Styling-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
    </head>


    <body>
        <div class="d-flex" id="wrapper">

                <!-- Sidebar - Brand-->
                <div class="border-end bg-white" id="sidebar-wrapper">
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'website:website_index' %}">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fas fa-laugh-wink"></i>
                        </div>
                        <div class="sidebar-heading border-bottom bg-white">MyFinPages</div>
                    </a>

{#                    <div class="sidebar-heading border-bottom bg-light">MyFinPages</div>#}
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action list-group-item-info p-2">Dashboard</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:current_finances' %}">Current Finances</a>
    {#                    <a class="list-group-item list-group-item-action list-group-item-white p-2" href="{% url 'myfinpages:finance_history' %}">Finance History</a>#}


                        <a class="list-group-item list-group-item-action list-group-item-info p-2">Update finances</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:income_create' %}">Add Income</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:outcome_create' %}">Add Outcome</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:balance_create' %}">Add Balance</a>

                        <a class="list-group-item list-group-item-action list-group-item-info p-2">View finances</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:income_list' %}">List Income</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:outcome_list' %}">List Outcome</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-2" href="{% url 'myfinpages:balance_list' %}">List Balance</a>
                    </div>
                </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
                    <div class="container-fluid">
{#                        <button class="btn btn-primary btn-sm" id="sidebarToggle">Toggle Menu</button>#}
{#                        <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>#}
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
{#                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>#}
{#                                <li class="nav-item"><a class="nav-link" href="#!">Link</a></li>#}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars text-gray-600" style="font-size:24px"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        {% if user.is_authenticated %}
                                        <a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                                        {% else %}
                                        <a class="dropdown-item" href="{% url 'accounts:register' %}">Register</a>
                                        <a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                {% include 'common/messages.html' %}
                {% block content %}


                {% endblock %}
            </div>
        </div>
<!-- Bootstrap core JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>



{% block js %}
{% endblock %}

</body>

</html>


                <!-- Bootstrap core JavaScript-->
{#        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>#}
{#        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>#}

        <!-- Core plugin JavaScript-->
{#        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>#}

        <!-- Custom scripts for all pages-->
{#        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>#}

        <!-- Page level plugins -->
{#        <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>#}

        <!-- Page level custom scripts -->
{#        <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>#}
{#        <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>#}

{#    </body>#}
{##}
{#</html>#}

