{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 mx-auto">

{#            <h1>{{ delete_what }}{{ object.pk }}</h1>#}
            <h1>{{ delete_what }}</h1>

            <form method="post">{% csrf_token %}
                <p><strong>{{ user.username | title }}</strong>, are you sure you want to <strong>delete: </strong></p>
                <ul>
                    <li>Date: {{ object.date|date }}</li>
                    <li>Type: {{ object.get_type_display }}</li>
                    <li>Value: UAH {{ object.value| intcomma }}</li>
                    <li>Notes: {{ object.notes }}</li>
                </ul>
{#                <input type="submit" value="Confirm">#}
                <button class="btn btn-primary" type="submit">
                    Confirm
                </button>
            </form>
        </div>
    </div>
{% endblock %}