{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 mx-auto">

            <h1>{{ list_what }} list</h1>

        </div>
    </div>

    <!-- Table-->
    <div class="row">
        <div class="col-lg-8 mx-auto">

            {% if object_list %}
                <table id="table-view" class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Value</th>
                        <th scope="col">Comment</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="table-body">
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.date|date:"Y/m/d" }}</td>
                            <td>{{ object.get_type_display }}</td>
                            <td>{{ object.value }}</td>
                            <td>{{ object.notes }}</td>
                            <td>
                                {% if list_what == 'Income' %}
                                    <a href="{% url 'myfinpages:income_detail' object.pk %}">
                                {% elif list_what == 'Outcome' %}
                                    <a href="{% url 'myfinpages:outcome_detail' object.pk %}">
                                {% else %}
                                    <a href="{% url 'myfinpages:balance_detail' object.pk %}">
                                {% endif %}
                                <i class="fas fa-search-plus"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Nothing to show
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block js %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>



    <script>
        $(document).ready(function () {
            $('#table-view').DataTable(
                {
                    order: [[0, 'desc']],
                    {#columns: [#}
                    {#    {name: "Date", orderable: true},#}
                    {#    {name: "Type", orderable: true},#}
                    {#    {name: "Value", orderable: true},#}
                    {#    {name: "Notes", orderable: true},#}
                    {#    {name: "Details", orderable: false},#}
                    {#]#}
                }
            )
        })

    </script>
{% endblock %}