{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 mx-auto">

            <h1>{{ list_what }}s</h1>
            <ul>
                {% for object in object_list %}
                    <li>
                        {% if list_what == 'Income' %}
                            <a href="{% url 'myfinpages:income_detail' object.pk %}">
                        {% elif list_what == 'Outcome' %}
                            <a href="{% url 'myfinpages:outcome_detail' object.pk %}">
                        {% elif list_what == 'Balance' %}
                            <a href="{% url 'myfinpages:balance_detail' object.pk %}">
                        {% endif %}
                        {{ object.pk }} - {{ object.date|date }}  - {{ object.get_type_display }}
                        -  UAH {{ object.value }} -  {{ object.notes }}
                    </a>
                    </li>
                {% empty %}
                    <li>Nothing to show yet.</li>
                {% endfor %}
            </ul>


        </div>
    </div>
{% endblock %}