{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{#{% load bootstrap4 %}#}

{% block content %}
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1>{{ header }}</h1>

            <form method="post">{% csrf_token %}
                {{ form|crispy }}
{#                {% bootstrap_form form %}#}
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </form>

        </div>
    </div>
{% endblock %}