{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 mx-auto">

            <h1>{{ list_what }} list</h1>

        </div>
    </div>

    <!-- Table-->
    <div class="row">
        <div class="col-lg-8 mx-auto">

            {% if object_list %}
{#                <table id="table-view" class="table">#}
{#                <table id="table-view" class="display" style="width:100%">#}
                <table id="table-view" class="table table-hover" style="width:100%">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Type</th>
                        <th scope="col">Value</th>
                        <th scope="col">Comment</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="table-body">
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.date|date:"Y-m-d" }}</td>
                            <td>{{ object.get_type_display }}</td>
                            <td>{{ object.value| intcomma }}</td>
                            <td>{{ object.notes }}</td>
                            <td>
                                {% if list_what == 'Income' %}
                                    <a href="{% url 'myfinpages:income_detail' object.pk %}">
                                {% elif list_what == 'Outcome' %}
                                    <a href="{% url 'myfinpages:outcome_detail' object.pk %}">
                                {% else %}
                                    <a href="{% url 'myfinpages:balance_detail' object.pk %}">
                                {% endif %}
                                <i class="fas fa-search-plus"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4" style="text-align:right">Total:</th>
                                <th></th>
                            </tr>
                        </tfoot>
                </table>
            {% else %}
                Nothing to show
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block js %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>



    <script>

$(document).ready(function () {
    $('#table-view').DataTable({

        footerCallback: function (row, data, start, end, display) {
            var api = this.api();

            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };

            // Total over all pages
            {#total = api#}
            {#    .column(2)#}
            {#    .data()#}
            {#    .reduce(function (a, b) {#}
            {#        return intVal(a) + intVal(b);#}
            {#    }, 0);#}

            // Total over this page
            pageTotal = api
                .column(2, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);

            // Update footer
            {#$(api.column(2).footer()).html('UAH' + ' ' + pageTotal.toFixed(2) + ' ( UAH' + ' ' + total.toFixed(2) + ' total pages)');#}
            $(api.column(2).footer()).html('UAH' + ' ' + pageTotal.toFixed(2));

        },
    });
});


    </script>
{% endblock %}